################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

bin
obj
packages
.vs
*.log
ocelot.json

# User-specific files
*.rsuser
*.suo
*.user
!PowerBank.User
*.userosscache
*.sln.docstates